<body class="b1">
<p>
	<mat-toolbar color="green">
	<mat-toolbar-row >
		<span><h1>Menu</h1></span>
		<button routerLink="login"class="log">Login</button>
	</mat-toolbar-row>
	<mat-toolbar-row>
		<button routerLink="burgers"class="items">Burgers</button>
		<button routerLink="salads"class="items">Salads</button>
		<button routerLink="desserts"class="items">Desserts</button>
		<button routerLink="beverages"class="items">Beverages</button>
		
	</mat-toolbar-row>
	</mat-toolbar>
</p>
<router-outlet></router-outlet>
</body>
