h1{
    font-size: 140%;
    
}
.log{
    background-color: rgb(230, 223, 218);
    width: 120px;
    float: right;
    margin-left: 85%;
}
  .items{
      margin-right: 15px;
  }
  .b1{
    background-color:lavender;
  }