
    <div class="Card">
        <div fxLayout="row wrap" >
            <div fxFlex="25%" *ngFor="let lsalads of salads$ | async" >
        <mat-card class="Card">
          <mat-card-header style="text-align: 50px;" >
            <mat-card-title>{{lsalads.name}}</mat-card-title>
          </mat-card-header>
          <img mat-card-image src = "../../../assets/image/cezar.jpg">
          <mat-card-content>
            <p class="p">
              {{lsalads.description}}
    
            </p>
            <p class="p1">Cost: {{lsalads.cost}} zł</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button class="but" (click)="addToCart(lsalads)">Order Now</button>
          </mat-card-actions>
        </mat-card>
     
    </div>
    </div>
    <br>
    <app-cart></app-cart>
    </div>