.h1{
    font-size: 120px;
    font-style: italic;
}
.b1{
    background-color: lavender;
}
.content {
    padding: 16px;
}

.content > mat-card {
    width: 200px;
}
.Card{
    width: 70%;
    margin-right: 10px;
}
.p{
    width: 90%;
    color: aquamarine;
}
.p1{
    width: 90%;
    color: red;
    font-size: 22px;
}
.b1{
    background-color:lavender;
    
}
.but{
    margin-left: 7px;
    font-size: 30px;
    background-color: orange;
    color: rgb(235, 235, 235);
    width: 95%;
   
}
.test div{
    display: inline-block
  }